//just fieldname so that if in future when we sahre we dont have to share .env file all pws too

NODE_ENV = 'development'
PORT = 8000
MONGODB_URI='mongodb://127.0.0.1:27017'
DB_NAME= 'E-Commerce'

//cloudinary
CLOUDINARY_API_KEY = ''
CLOUDINARY_SECRET_KEY = ''
CLOUDINARY_CLOUD_NAME = ''